<!doctype html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
		<link rel="shortcut icon" href="/static/favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
		<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
		<script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
		<title>{% block title %}Edoc{% endblock title %}</title>
		<style>
			html
			{
				position: relative;
				min-height: 100%;
			}
			body
			{
				padding-top: 1%;
				padding-bottom: 5%;
				margin-bottom: 60px
			}
			.footer
			{
				position: absolute;
				bottom: 0;
				width: 100%;
				background-color: #f5f5f5;
			}
		</style>
		{% endblock head %}
		<script>
function getRandomInt(min, max)
{
	return Math.floor(Math.random() * (max - min + 1)) + min;
}
class SBox
{
	/**
	\pre Array.isArray(pw)
	\pre pw.length == 256
	*/
	constructor(pw)
	{
		this.encodeMap = new Array(256);
		this.decodeMap = new Array(256);
		for (let i=0; i<256; i++)
		{
			this.encodeMap[i] = -1;
		}
		let index = 0;
		for (let i=0; i<256; i++)
		{
			let emptyCounter = 0;
			let maxEmpty = 256-i;
			let targetEmpty = 1+(pw[i] % maxEmpty);
			while (emptyCounter < targetEmpty)
			{
				if (this.encodeMap[index] == -1)
				{
					emptyCounter++;
				}
				if (emptyCounter < targetEmpty)
				{
					index = (index+1)%256;
				}
			}
			this.encodeMap[index] = i;
		}
		for (let i=0; i<256; i++)
		{
			this.decodeMap[this.encodeMap[i]] = i;
		}
	}
	/**
	\pre typeof(plain) == "string"
	\pre plain.length == 1
	*/
	encode(plain)
	{
		return this.encodeMap[plain];
	}
	/**
	\pre typeof(encoded) == "string"
	\pre encoded.length == 1
	*/
	decode(encoded)
	{
		return this.decodeMap[encoded];
	}
}
class PBox
{
	/**
	\pre Array.isArray(pw)
	\pre pw.length == 2048
	*/
	constructor(pw)
	{
		this.encodeMap = new Array(256*8);
		this.decodeMap = new Array(256*8);
		for (let i=0; i<256*8; i++)
		{
			this.encodeMap[i] = -1;
		}
		let index = 0;
		for (let i=0; i<256*8; i++)
		{
			let emptyCounter = 0;
			let maxEmpty = 256*8-i;
			let targetEmpty = 1+(pw[i] % maxEmpty);
			while (emptyCounter < targetEmpty)
			{
				if (this.encodeMap[index] == -1)
				{
					emptyCounter++;
				}
				if (emptyCounter < targetEmpty)
				{
					index = (index+1)%(256*8);
				}
			}
			this.encodeMap[index] = i;
		}
		for (let i=0; i<256*8; i++)
		{
			this.decodeMap[this.encodeMap[i]] = i;
		}
	}
	/**
	\pre Array.isArray(plain)
	\pre plain.length == 256
	*/
	encode(plain)
	{
		let encoded = new Array(256);
		for (let i=0; i<256; i++)
		{
			encoded[i] = 0;
		}
		for (let i=0; i<256; i++)
		{
			for (let b=0; b<8; b++)
			{
				let index = this.encodeMap[i*8+b];
				if ((plain[i]) & (1<<b))
				{
					encoded[parseInt(index/8)] = encoded[parseInt(index/8)] + (1<<(index%8));
				}
			}
		}
		return encoded;
	}
	/**
	\pre Array.isArray(encoded)
	\pre encoded.length == 256
	*/
	decode(encoded)
	{
		let decoded = new Array(256);
		for (let i=0; i<256; i++)
		{
			decoded[i] = 0;
		}
		for (let i=0; i<256; i++)
		{
			for (let b=0; b<8; b++)
			{
				let index = this.decodeMap[i*8+b];
				if ((encoded[i]) & (1<<b))
				{
					decoded[parseInt(index/8)] = decoded[parseInt(index/8)] + (1<<(index%8));
				}
			}
		}
		return decoded;
	}
}
class SPBox
{
	/**
	\pre Array.isArray(pw)
	\pre pw.length == 4096
	\pre Array.isArray(seed)
	\pre seed.length == 256
	\pre seed[i] != 0
	*/
	constructor(pw, seed)
	{
		this.sBoxes = new Array(8);
		if (typeof seed == "undefined")
		{
			seed = new Array(256);
			for (let i=0; i<256; i++)
			{
				seed[i] = getRandomInt(1, 255);
			}
		}
		this.seed = seed.slice();
		for (let s=0; s<8; s++)
		{
			let spw = new Array(256);
			for (let i=0; i<256; i++)
			{
				spw[i] = pw[s*256+i];
			}
			this.sBoxes[s] = new SBox(spw);
		}
		let ppw = new Array(2048);
		for (let i=0; i<2048; i++)
		{
			ppw[i] = pw[8*256+i];
		}
		this.pBox = new PBox(ppw);
		this.rounds = 8;
	}
	/**
	\pre Array.isArray(plain)
	\pre plain.length == 256
	*/
	encodeRound(plain)
	{
		let encoded = new Array(256);
		for (let i=0; i<256; i++)
		{
			encoded[i] = plain[i];
			for (let j=0; j<8; j++)
			{
				if ((this.seed[i] & (1<<j)) != 0)
				{
					let sBox = this.sBoxes[j];
					encoded[i] = sBox.encode(encoded[i]);
				}
			}
		}
		encoded = this.pBox.encode(encoded);
		return encoded;
	}
	/**
	\pre Array.isArray(encoded)
	\pre encoded.length == 256
	*/
	decodeRound(encoded)
	{
		let decoded = this.pBox.decode(encoded);
		for (let i=0; i<256; i++)
		{
			for (let j=8-1; j>=0; j--)
			{
				if ((this.seed[i] & (1<<j)) != 0)
				{
					let sBox = this.sBoxes[j];
					decoded[i] = sBox.decode(decoded[i]);
				}
			}
		}
		return decoded;
	}
	/**
	\pre Array.isArray(plain)
	\pre plain.length == 256
	\post this.seed changed
	*/
	encodeRounds(plain)
	{
		let encoded = this.encodeRound(plain);
		for (let i=0; i<this.rounds-1; i++)
		{
			encoded = this.encodeRound(encoded);
		}
		for (let i=0; i<256; i++)
		{
			this.seed[i] = encoded[i] ^ this.seed[i];
			if (this.seed[i] == 0)
			{
				this.seed[i] = 1;
			}
		}
		return encoded;
	}
	/**
	\pre Array.isArray(encoded)
	\pre encoded.length == 256
	\post this.seed changed
	*/
	decodeRounds(encoded)
	{
		let decoded = this.decodeRound(encoded);
		for (let i=0; i<this.rounds-1; i++)
		{
			decoded = this.decodeRound(decoded);
		}
		for (let i=0; i<256; i++)
		{
			this.seed[i] = encoded[i] ^ this.seed[i];
			if (this.seed[i] == 0)
			{
				this.seed[i] = 1;
			}
		}
		return decoded;
	}
	/**
	\pre Array.isArray(plain)
	\pre plain.length > 0
	\post this.seed changed
	*/
	encode(plain)
	{
		let length = plain.length;
		while (plain.length%256 != 0)
		{
			plain.push(getRandomInt(0, 255));
		}
		let encodedBytes = 0;
		let encoded = [];
		while (encodedBytes < plain.length)
		{
			let plainPart = new Array(256);
			for (let i=0; i<256; i++)
			{
				plainPart[i] = plain[encodedBytes];
				encodedBytes++;
			}
			let encodedPart = this.encodeRounds(plainPart);
			for (let i=0; i<256; i++)
			{
				encoded.push(encodedPart[i]);
			}
		}
		return {"length":length, "message":encoded};
	}
	/**
	\pre Array.isArray(encodedJSON["message"])
	\pre encodedJSON["message"].length >= encodedJSON["length"]
	\pre encodedJSON["message"].length % 256 == 0
	\post this.seed changed
	*/
	decode(encodedJSON)
	{
		let length = encodedJSON["length"];
		let encoded = encodedJSON["message"];
		let decodedBytes = 0;
		let decoded = [];
		while (decodedBytes < encoded.length)
		{
			let encodedPart = [];
			for (let i=0; i<256; i++)
			{
				encodedPart.push(encoded[decodedBytes]);
				decodedBytes++;
			}
			let decodedPart = this.decodeRounds(encodedPart);
			for (let i=0; i<256; i++)
			{
				if (decoded.length < length)
				{
					decoded.push(decodedPart[i]);
				}
				else
				{
					break;
				}
			}
		}
		return decoded;
	}
	getSeed()
	{
		let seed = [];
		for (let i=0; i<256; i++)
		{
			seed[i] = this.seed[i];
		}
		return seed;
	}
	setSeed(seed)
	{
		for (let i=0; i<256; i++)
		{
			this.seed[i] = seed[i];
		}
	}
}
function testSBox()
{
	let pw = new Array(256);
	for (let i=0; i<pw.length; i++)
	{
		pw[i] = getRandomInt(0, 255);
	}
	let plain = new Array(256);
	for (let i=0; i<plain.length; i++)
	{
		plain[i] = getRandomInt(0, 255);
	}
	let sBox = new SBox(pw);
	let encoded = sBox.encode(plain);
	sBox = new SBox(pw);
	let decoded = sBox.decode(encoded);
	let matches = 0;
	for (let i=0; i<plain.length; i++)
	{
		if (plain[i] == decoded[i])
		{
			matches++;
		}
	}
	console.log("p "+(matches==plain.length));
}
function testPBox()
{
	let pw = new Array(2048);
	for (let i=0; i<pw.length; i++)
	{
		pw[i] = getRandomInt(0, 255);
	}
	let plain = new Array(256);
	for (let i=0; i<plain.length; i++)
	{
		plain[i] = getRandomInt(0, 255);
	}
	let pBox = new PBox(pw);
	let encoded = pBox.encode(plain);
	pBox = new PBox(pw);
	let decoded = pBox.decode(encoded);
	let matches = 0;
	for (let i=0; i<plain.length; i++)
	{
		if (plain[i] == decoded[i])
		{
			matches++;
		}
	}
	console.log("p "+(matches==plain.length));
}
function testSPBox()
{
	let pw = new Array(4096);
	for (let i=0; i<pw.length; i++)
	{
		pw[i] = getRandomInt(0, 255);
	}
	let seed = new Array(256);
	for (let i=0; i<seed.length; i++)
	{
		seed[i] = getRandomInt(1, 255);
	}
	let plain = new Array(512);
	for (let i=0; i<plain.length; i++)
	{
		plain[i] = getRandomInt(0, 255);
	}
	let spBox = new SPBox(pw, seed);
	let encoded = spBox.encode(plain);
	spBox = new SPBox(pw, seed);
	let decoded = spBox.decode(encoded);
	let matches = 0;
	for (let i=0; i<plain.length; i++)
	{
		if (plain[i] == decoded[i])
		{
			matches++;
		}
	}
	console.log("sp "+(matches == plain.length));
}
			function send()
			{
				if (input.value() == "")
				{
					return;
				}
				let json = {};
				json["username"] = username;
				if (sp === null)
				{
					json["encoded"] = false;
					json["plainMessage"] = input.value();
				}
				else
				{
					let message = input.value();
					json["encoded"] = true;
					let seed = new Array(256);
					for (let i=0; i<256; i++)
					{
						seed[i] = getRandomInt(1, 255);
					}
					sp.setSeed(seed);
					json["seed"] = sp.getSeed();
					let plainMessage = [];
					for (let i=0; i<message.length; i++)
					{
						plainMessage.push(message.charCodeAt(i));
					}
					let encodedMessage = sp.encode(plainMessage);
					json["encodedMessage"] = encodedMessage;
				}
				input.value("");
				console.log(json);
				socket.emit("sendMessage", json);
			}
			function usePassword()
			{
				let password = document.getElementById("password").value;
				if (password == "")
				{
					sp = null;
					socket.emit("sendMetaMessage", {"user":username,"pw":0});
				}
				else
				{
					updatePassword(password);
				}
			}
			function usePasswordFile()
			{
				let begin = parseInt(document.getElementById("begin").value);
				let length = parseInt(document.getElementById("length").value);
				if (passwordFileContent.length >= begin+length)
				{
					let password = passwordFileContent.substring(begin, begin+length);
					updatePassword(password);
				}
				else
				{
					alert(passwordFileContent.length);
				}
			}
			function updatePassword(pw)
			{
				socket.emit("sendMetaMessage", {"user":username,"pw":1});
				let asInt = [];
				for (let i=0; i<pw.length; i++)
				{
					asInt.push(pw.charCodeAt(i));
				}
				let pwIndex = 0;
				while (asInt.length < 4096)
				{
					asInt.push(pw.charCodeAt(pwIndex%pw.length));
					pwIndex++;
				}
				sp = new SPBox(asInt);
			}
			function useUsername()
			{
				let request = db.transaction(["settings"], "readwrite").objectStore("settings").delete(0);
				request.onerror = function(event)
				{
					alert("DatabaseError");
				};
				request.onsuccess = function(event)
				{
					let oldUsername = username;
					username = document.getElementById("username").value;
					socket.emit("sendMetaMessage", {"user":username,"oldUser":oldUsername});
					let settings = {"id":0, "username":username};
					let req = db.transaction(["settings"], "readwrite").objectStore("settings").put(settings);
					req.onerror = function(event)
					{
						alert("DatabaseError");
					};
					req.onsuccess = function(event)
					{
					};
				};
			}
			function readSingleFile(e)
			{
				var file = e.target.files[0];
				if (!file)
				{
					return;
				}
				var reader = new FileReader();
				reader.onload = function(e)
				{
					passwordFileContent = e.target.result;
					let begin = parseInt(document.getElementById("begin").value);
					let length = parseInt(document.getElementById("length").value);
					let contentLength = passwordFileContent.length;
					if (length > contentLength)
					{
						alert("passwordfile is very small!");
					}
					else
					{
						let maxValue = contentLength-length;
						document.getElementById("begin").value = getRandomInt(0, maxValue);
						usePasswordFile();
					}
				};
				reader.readAsText(file);
			}
			function initDB(callback)
			{
				window.indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB;
				window.IDBTransaction = window.IDBTransaction || window.webkitIDBTransaction || window.msIDBTransaction;
				window.IDBKeyRange = window.IDBKeyRange || window.webkitIDBKeyRange || window.msIDBKeyRange;
				let request = window.indexedDB.open("edoc", 1);
				request.onupgradeneeded = function(event)
				{
					db = event.target.result;
					if (!db.objectStoreNames.contains("settings"))
					{
						db.createObjectStore("settings", {keyPath: "id"});
					}
				};
				request.onsuccess = function(event)
				{
					db = event.target.result;
					callback(event);
				};
				request.onerror = function(event)
				{
					alert("DBError");
				};
			}
			function msToTime(duration)
			{
				var milliseconds = parseInt((duration%1000)/100)
					, seconds = parseInt((duration/1000)%60)
					, minutes = parseInt((duration/(1000*60))%60)
					, hours = parseInt((duration/(1000*60*60))%24);

				hours = (hours < 10) ? "0" + hours : hours;
				minutes = (minutes < 10) ? "0" + minutes : minutes;
				seconds = (seconds < 10) ? "0" + seconds : seconds;

				return hours + ":" + minutes + ":" + seconds;
			}
		</script>
	</head>
	<body id="body">
		{% block body %}
			{% block bodycontent %}
			<div class='container'>
				<div class='row'>
					<div class='col-xs-12'>
						<form>
							Username: <input type="text" name="username" id="username"><input type="button" value="Use Username" onclick="useUsername()"><br/>
							Password: <input type="password" name="password" id="password"><input type="button" value="Use Password" onclick="usePassword()"><br/>
							Passwordfile: <input type="file" name="passwordfile" id="passwordfile"><input type="number" name="begin" id="begin" value="0" min="0"><input type="number" name="length" id="length" value="4096" min="1" max ="4096"><input type="button" value="Use Passwordfile" onclick="usePasswordFile()"><br/>
							<textarea readonly id="output"></textarea><br/>
							<textarea id="input"></textarea><input type="button" value="Send" onclick="send()">
						</form>
						<script>
							let input = new SimpleMDE({
								element: document.getElementById("input"),
								status: true,
								toolbar: [{
										name: "bold",
										action: SimpleMDE.toggleBold,
										className: "fa fa-bold",
										title: "Bold",
									},{
										name: "italic",
										action: SimpleMDE.toggleItalic,
										className: "fa fa-italic",
										title: "Italic",
									},{
										name: "strikethrough",
										action: SimpleMDE.toggleStrikethrough,
										className: "fa fa-strikethrough",
										title: "Strikethrough",
									},"|",{
										name: "heading1",
										action: SimpleMDE.toggleHeading1,
										className: "fa fa-header fa-header-x fa-header-1",
										title: "Heading1",
									},{
										name: "heading2",
										action: SimpleMDE.toggleHeading2,
										className: "fa fa-header fa-header-x fa-header-2",
										title: "Heading2",
									},{
										name: "heading3",
										action: SimpleMDE.toggleHeading3,
										className: "fa fa-header fa-header-x fa-header-3",
										title: "Heading3",
									},"|",{
										name: "quote",
										action: SimpleMDE.toggleBlockquote,
										className: "fa fa-quote-left",
										title: "Quote",
									},{
										name: "code",
										action: SimpleMDE.toggleCodeBlock,
										className: "fa fa-code",
										title: "Code",
									},"|",{
										name: "unordered-list",
										action: SimpleMDE.toggleUnorderedList,
										className: "fa fa-list-ul",
										title: "Unordered List",
									},{
										name: "ordered-list",
										action: SimpleMDE.toggleOrderedList,
										className: "fa fa-list-ol",
										title: "Ordered List",
									},"|",{
										name: "link",
										action: SimpleMDE.drawLink,
										className: "fa fa-link",
										title: "Link",
									},{
										name: "image",
										action: SimpleMDE.drawImage,
										className: "fa fa-picture-o",
										title: "Image",
									},{
										name: "table",
										action: SimpleMDE.drawTable,
										className: "fa fa-table",
										title: "Table",
									},"|",{
										name: "clean-block",
										action: SimpleMDE.cleanBlock,
										className: "fa fa-eraser fa-clean-block",
										title: "Clean Block",
									},{
										name: "horizontal-rule",
										action: SimpleMDE.drawHorizontalRule,
										className: "fa fa-minus",
										title: "Horizontal Rule",
									},"|",{
										name: "preview",
										action: SimpleMDE.togglePreview,
										className: "fa fa-eye no-disable",
										title: "Preview",
									},{
										name: "guide",
										action: "https://simplemde.com/markdown-guide",
										className: "fa fa-question-circle",
										title: "Markdown Guide",
									},
								],
								renderingConfig: {
									singleLineBreaks: true,
									codeSyntaxHighlighting: true,
								},
							});
							input.codemirror.setSize(1000, 50);
							let output = new SimpleMDE({
								element: document.getElementById("output"),
								status: false,
								toolbar: false,
								renderingConfig: {
									singleLineBreaks: true,
									codeSyntaxHighlighting: true,
								},
							});
							output.codemirror.setSize(1000, 450);
							output.togglePreview();
							output.codemirror.readOnly = true;
							let username = "Unknown User";
							document.getElementById("username").value = username;
							let sp = null;
							let passwordFileContent = "";
							document.getElementById("passwordfile").addEventListener("change", readSingleFile, false);
							let socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
							socket.open();
							socket.on("receiveMessage", function(json)
							{
								console.log(json);
								let user = json["username"];
								let encoded = json["encoded"];
								let message = "";
								let millis = json["time"];
								if (encoded)
								{
									if (sp)
									{
										let seed = json["seed"];
										sp.setSeed(seed);
										let encodedMessage = json["encodedMessage"];
										let decodedMessage = sp.decode(encodedMessage);
										message = "**"+msToTime(millis)+" "+user+":** ";
										for (let i=0; i<decodedMessage.length; i++)
										{
											message += String.fromCharCode(decodedMessage[i]);
										}
										message += "\n";
									}
								}
								else
								{
									let plainMessage = json["plainMessage"];
									message = "**"+msToTime(millis)+" "+user+" (unencoded):** "+plainMessage+"\n";
								}
								output.value(output.value()+message);
								output.codemirror.getWrapperElement().lastChild.innerHTML = output.options.previewRender(output.value(), output.codemirror.getWrapperElement().lastChild);
							});
							socket.on("receiveMetaMessage", function(json)
							{
								console.log(json);
								let user = json["user"];
								let millis = json["time"];
								message = "";
								if ("oldUser" in json)
								{
									let oldUser = json["oldUser"];
									message = "**"+msToTime(millis)+" "+oldUser+" (meta):** renamed to \""+user+"\"\n";
								}
								if ("pw" in json)
								{
									let pw = json["pw"];
									if (pw == 0)
									{
										message = "**"+msToTime(millis)+" "+user+" (meta):** removed password\n";
									}
									if (pw == 1)
									{
										message = "**"+msToTime(millis)+" "+user+" (meta):** changed password\n";
									}
								}
								if ("connected" in json)
								{
									message = "**"+msToTime(millis)+" "+user+" (meta):** connected\n";
								}
								if ("disconnected" in json)
								{
									message = "**"+msToTime(millis)+" "+user+" (meta):** disconnected\n";
								}
								output.value(output.value()+message);
								output.codemirror.getWrapperElement().lastChild.innerHTML = output.options.previewRender(output.value(), output.codemirror.getWrapperElement().lastChild);
							});
							let db = null;
							initDB(function(event)
							{
								let req = db.transaction(["settings"]).objectStore("settings").get(0);
								req.onerror = function(event)
								{
									alert("DatabaseError");
								};
								req.onsuccess = function(event)
								{
									if (req.result)
									{
										let oldUsername = username;
										username = req.result["username"];
										document.getElementById("username").value = username;
										socket.emit("sendMetaMessage", {"user":username,"oldUser":oldUsername});
									}
								};
							});
							document.getElementById("body").addEventListener ("keydown", function(event) {
								if (event.keyCode == 13 && event.ctrlKey)
								{
									send();
								}
							});
							testSBox();
							testPBox();
							testSPBox();
						</script>
					</div>
				</div>
			</div>
			{% endblock bodycontent %}
			{% block footer %}
			<footer class='footer'>
				<center>
					<div class='container'>
						<span class='text-muted'><a href='/impressum'>Impressum</a></span>
					</div>
				</center>
			</footer>
			{% endblock footer %}
		{% endblock body %}
	</body>
</html>